/* DTH Gradient */
.gradient {
    background: #7F00FF; 
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

/* WP-Gradient */
/* .gradient {
    background: #159957;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
} */